prm-primary-bg.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar {
    background-color: #000;
}

prm-topbar .md-button:hover
    {background-color: #000;
}

md-fab-toolbar md-toolbar {
    background-color: #000!important;
}

prm-search-bar, prm-browse-search-bar {
    background-color: #404040;
    background-image: url("../img/logo.png");
    background-position: 15% 15%;
    background-repeat: no-repeat;
    color: #404040;
    font-size: inherit;
    padding-top: 6em;
}

.md-button {
    margin: 0;
}

.md-button.button-confirm {
    color: #fff;}

prm-search-bar .simple-search-wrapper .search-actions .md-button {
    background-color: #000;
}


/*the search butten*/
.md-button.button-confirm._md-focused:not([disabled]),
.md-button.button-confirm.hovered:not([disabled]),
.md-button.button-confirm.md-focused:not([disabled]),
.md-button.button-confirm:focus:not([disabled]),
.md-button.button-confirm:hover:not([disabled]) {
    border: medium none;
    border-radius: 0;
    color: #fff;
    margin: 0;
    min-width: 0;
    transition: background-color 0.3s ease 0s;
    background-color: #45aab4;

}


/*the color of the loading animation*/
prm-spinner.half-transparent .diamond{
    background-color:#fff;
}


/*the text coler in the search pox*/
input::-webkit-input-placeholder {
    color: #404040 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #404040 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #404040 !important;
}

input:-ms-input-placeholder {
    color: #404040 !important;
}

.md-button.button-confirm {
	background-color: #000;
}

prm-request-services,prm-service-button, /*prm-location-items h3,prm-location-items md-list, prm-location-items div.layout-column.layout-row,*/prm-location-items .bar.alert-bar, prm-opac md-divider:first-of-type{
    display:none!important;
}

/*prm-location-items .margin-bottom-medium, md-tab-content .tab-content-header{
    cursor: pointer;
}*/

/* allow export to ris action to span multiple lines */
prm-action-list md-tab-item span {
  line-height: normal;
}

.custom-request-panel{
    opacity: 1;
    background-color: #f3f3f3;
}
._md-panel-backdrop{
    background-color: #4a667c;
    opacity: 0.48;
}
.md-panel-outer-wrapper{
    height:150%;
}


md-tabs.icon-tabs {

  display:inline-block;
  width:70%;

}

/*
prm-full-view .action-list-addon, prm-full-view .action-list-addon, prm-search-result-list .action-list-addon {
  display:inline-block;
  vertical-align:top;
  min-width: 4em;
  padding: .5em 0;
  line-height: normal;
  margin-top: 6px;
   
}*/
 
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
 /* src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff'); */


}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
/*  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff'); */
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
/*  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');*/
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
src: local('Source Sans Pro bold'), local('SourceSansPro-bold'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
/*  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff'); */
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
/*  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff'); */
}

body.md-dialog-is-showing{
	overflow-x:visible!important;
}

/*red bar in front of advanced search, and text treatment*/
.search-switch-buttons.hide-xs.layout-sm-column.layout-align-sm-start-stretch > button {
    text-transform: capitalize;
    font-size:18px;
}

/*advanced serch button in mobile devise*/
.zero-margin.md-icon-button.md-button.md-primoExplore-theme.md-ink-ripple.hide-gt-xs
{
    background-color: transparent;
}

/* remove virtual browse - August 2017 release */
#services-index [aria-label="Virtual Browse"],
#virtualBrowse
{
    display:none !important;
}


/* mobile display modifications pt 1 */
@media only screen and (max-width: 599px) {
    
    prm-search-bar, prm-browse-search-bar {
        background-color: #404040;
        background-image: url("../img/logo.png");
        background-position: 15% 9%;
        background-repeat: no-repeat;
        background-size: 200px 37px;
        color: #404040;
        font-size: inherit;
        padding-top: 6em;
    }
    
}

/* mobile display modifications pt 2 */
@media only screen and (min-width: 600px) and (max-width: 959px) {
    
    prm-search-bar, prm-browse-search-bar {
        background-color: #404040;
        background-image: none;
        color: #404040;
        font-size: inherit;
        padding-top: 6em;
    }
    
}


/* remove day and month fields for the publication date filter in advanced search */
#advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div md-input-container:nth-child(1) md-select-value,
#advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div md-input-container:nth-child(1) div,
#advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div md-input-container:nth-child(2) {
display:none;
}


#advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div:nth-child(4) md-input-container.underlined-input.md-icon-float,
#advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div:nth-child(6) md-input-container.underlined-input.md-icon-float
{
  margin-left:-12rem
}

@media only screen and (min-width: 482px) and (max-width: 599px) {

#advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div:nth-child(4) md-input-container.underlined-input.md-icon-float,
#advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div:nth-child(6) md-input-container.underlined-input.md-icon-float
{
  margin-left:-28rem
}

}

@media only screen and (min-width: 960px) and (max-width: 1180px) {

  #advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div:nth-child(4) md-input-container.underlined-input.md-icon-float,
  #advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex div div:nth-child(6) md-input-container.underlined-input.md-icon-float
  {
    margin-left:-10rem
  }
}
/******/

/* ExL changes from https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_to_disable_the_tags_in_Primo_classic_and_new_UI */
/*Hide Tags in Detailed Display*/
[aria-label="Tags"]{display:none;}
#tags{display:none;}

/* Hide Tags in Main Menu when signed in – Tags and ETIQUETTES (French) will change depending on Code Table customizations */
.md-button[aria-label="nui.mainmenu.label.tags"] {display: none !important;}
[aria-label="TAGS"]{display:none !important;} /* added in Primo August 2017 release */

/* Hide Tags on full list (ellipsis) */
prm-main-menu md-card:nth-child(1) {
  display:none;
}



/*2019 fixes*/

/*login modal box screen background color changes from default blue to theme color, and modal box bgcolor and transparency */
md-backdrop.md-opaque{
	background-color: #404040;
}

md-dialog.light-on-dark-dialog {
    background-color: rgba(17,17,17,.8);
 }


/*mobile interface fixes so that the 4 boxes are phone screen width rather than with in half*/

.flex-50, .layout-row>.flex-50 {

  width:100%;
  max-width: 100%

} 

/*The words "advanced search" when wrap, it has enough space to the word Broswe*/
.search-switch-buttons.hide-xs.layout-sm-column.layout-align-sm-start-stretch button[aria-label="Browse"] {

  margin-top: 2.6em !important;

}



/*homepage less plain*/

md-card.default-card md-card-title:not(#featuredResultTitle){

  padding: 8px 20px;

  background-color: #666;

  color: white;

}

.md-headline {
    font-size: 20px;
    font-weight: 400;
}

/*icon look in 2 views: listing and detail*/
prm-search-result-thumbnail-container img {
    width: 53px;
}


prm-full-view prm-search-result-thumbnail-container img {
width:100%;
}

/*title color and less tight*/

prm-brief-result .item-title span {
    color: #404040;
}

prm-brief-result .item-title {
    color: #404040;
    max-width: 75%;
    margin: 7px 0;
    font-weight: 600;
    cursor: pointer;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

/*icon change for not restricted and restricted */

span.availability-status.restricted {
   
    background-image: url(../img/restricted.png);
    background-repeat: no-repeat;
    margin-left: -5px;
    background-position: left center;
    padding-left: 20px;
}


span.availability-status.not_restricted {
   
    background-image: url(../img/online.png);
    background-repeat: no-repeat;
    margin-left: -5px;
    background-position: left center;
    padding-left: 20px;
}

prm-search-result-list prm-search-result-availability-line [availability-type] md-icon {
    display: none !important;
}

prm-search-result-availability-line [availability-type] md-icon {
    display: none;
}

[class*=available] {
    background-image: url(../img/book.png);
    background-repeat: no-repeat;
    margin-left: -5px;
    background-position: left center;
    padding-left: 23px;
}


/*red warning box on homepage*/
md-card-title-red {
    background-color: #8B0000;
    padding: 8px 20px;
    color: #fff;
}